<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS - Simple Calculator App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .True {
            background-color: cadetblue;
        }
    </style>
</head>

<body>
    <div id="app">
        {{ message }}
        <br><br>
        <section>
            <input placeholder="angka1" type="number" v-model="angka1">
            <br>
            <input placeholder="angka1"  type="number" v-model="angka2">
            <br>
            <button v-on:click="plus">+</button>
            <button v-on:click="min">-</button>
            <button v-on:click="kali">*</button>
            <button v-on:click="bagi">/</button>
            <h2> {{ res }}</h2>
        </section>
        <hr>
        <div>
            {{ message2 }}
            <ul>
                <li v-for="i in List" :class="{True: i.isTrue}" v-on:click="toogleTrue(i)">
                    <p> {{i.nama}} - {{i.task}} </p>
                </li>
            </ul>   
        </div>

    </div>

    <script src="./src/script.js">

    </script>
</body>

</html>